.input {
    width: 100%;
    font-family: inherit;
    box-sizing: border-box;
    resize: vertical;
    backdrop-filter: blur(50px);
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.input::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}

.input:focus {
    outline: 2px solid var(--text-color);
}

.inputTextArea {
    width: 100%;
    font-family: inherit;
    box-sizing: border-box;
    resize: vertical;
    background-color: transparent;
    border: 1px solid var(--text-color);
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.inputTextArea::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}

.inputTextArea:focus {
    outline: 2px solid var(--dark-text);
}

.inputFile {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
    backdrop-filter: blur(50px);
    background-color: transparent;
}


.inputFile::-webkit-file-upload-button {
    visibility: hidden;
}

.inputFile:hover::before {
    background-color: #444;
}

.inputFile:focus {
    outline: 2px solid var(--text-color);
}