.selectWrapperDefault {
    position: relative;
    width: 100%;
    max-width: 70%;
}

.selectWrapperSmall {
    position: relative;
    width: min-content;
    max-width: 70%;
}

.selectButton {
    text-align: left;
    font-family: inherit;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.default {
    width: 100%;
    backdrop-filter: blur(50px);
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.small {
    width: 100%;
    background-color: rgba(var(--text-color-rgb), 0.9);
    color: var(--text-header-color);
    border: unset;
    font-size: 1rem;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
}

.sizingHelper {
    visibility: hidden;      /* Hide visually */
    height: 1px;               /* Prevent affecting vertical spacing */
    overflow: hidden;
    white-space: nowrap;     /* Prevent wrapping */
    font-size: 1rem;
    font-family: inherit;
    padding: 0 1rem;
    display: block;          /* Ensure it takes layout space */
}



.default:focus {
    outline: 2px solid var(--text-color);
}

.arrow {
    margin-left: 1rem;
    font-size: 0.8rem;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 0.5rem;
    background-color: var(--text-header-color);
    color: var(--text-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}

.smallDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 0;
    background-color: var(--text-color);
    color: var(--text-header-color);
    border-radius: 1.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 1000;

    overflow-y: auto;
}

.option {
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.option:hover {
    background: rgba(0, 0, 0, 0.05);
}
