.toggleContainer {
    display: inline-flex;
    backdrop-filter: blur(50px);
    background-color: transparent;
    gap: 0.25rem;
    width: min-content;
    border: 1px solid rgba(var(--text-color-rgb), 1);
    border-radius: 0.5rem;
    padding: 0.25rem;
}

.toggleButton {
    border: 1px solid rgba(var(--text-color-rgb), 1);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.toggleButton:hover {
    background-color: rgba(var(--text-color-rgb), 1);
    color: rgba(var(--bg-rgb), 1);
}

.active {
    background-color: rgba(var(--text-color-rgb), 1);
    color: rgba(var(--bg-rgb), 1);
}