.qrScannerContainer {
    margin-top: 1rem;
}

.qrButton {
    width: 100%;
    border: unset !important;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    transition: opacity 0.3s ease;
    z-index: 1;
    background: var(--text-color);
    color: var(--text-header-color);
    border: none;
}

.scannerContainer {
    border: none !important;
    background: rgba(var(--bg-rgb), 0.2);
    border-radius: 0.5rem;
    overflow: hidden;

    button {
        margin: 0.7rem;
        border: 1px solid rgba(var(--dark-text-rgb), 0.2) !important;
        cursor: pointer;
        font-size: 1rem;
        font-family: "Prompt", sans-serif;
        font-weight: 600;
        border-radius: 0.5rem;
        padding: 0.75rem 1.5rem;
        transition: opacity 0.3s ease;
        z-index: 1;
        background: var(--text-color);
        color: var(--text-header-color);
    }

    select {
        background-color: white;
        width: 90%;
        height: 3rem;
        color: #252525;
        border: 1px solid rgba(var(--dark-text-rgb), 0.2);
        font-size: 1rem;
        font-family: "Tauri", sans-serif;
        font-weight: 400;
        font-style: normal;
        border-radius: 0.5rem;
        padding: 1rem 1rem;
    }
}

.popup_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.popup_content {
    background: rgba(var(--bg-rgb), 0.5);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
    max-width: 400px;
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(var(--text-color-rgb), 0.4);
    contain: paint;
}