@import "../../assets/easings.css";

.themeToggle {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  background: none !important;
  border: none !important;
  cursor: pointer;
  outline: none;
  box-shadow: none !important;
  scale: 1.4;
  color: var(--text-color);
}

.sunAndMoon :global(.moon),
.sunAndMoon :global(.sun),
.sunAndMoon :global(.sun-beams) {
  transform-origin: center;
}

.sunAndMoon :global(.moon),
.sunAndMoon :global(.sun) {
  fill: var(--text-color);
}

.themeToggle:hover .sunAndMoon :global(.moon),
.themeToggle:hover .sunAndMoon :global(.sun) {
  fill: var(--text-color);
}

.sunAndMoon :global(.sun-beams) {
  stroke: var(--text-color);
  stroke-width: 2px;
}

.themeToggle:hover .sunAndMoon :global(.sun-beams) {
  stroke: var(--text-color);
}

:global([data-theme="dark"]) .sunAndMoon :global(.sun) {
  transform: scale(1.75);
}

:global([data-theme="dark"]) .sunAndMoon :global(.sun-beams) {
  opacity: 0;
}

:global([data-theme="dark"]) .sunAndMoon :global(.moon > circle) {
  transform: translateX(-7px);
}

@media (prefers-reduced-motion: no-preference) {
  .sunAndMoon :global(.sun) {
    transition: transform 0.5s var(--ease-elastic-3);
  }

  .sunAndMoon :global(.sun-beams) {
    transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
  }

  .sunAndMoon :global(.moon > circle) {
    transition: transform 0.25s var(--ease-out-5);
  }

  :global([data-theme="dark"]) .sunAndMoon :global(.sun) {
    transition-timing-function: var(--ease-3);
    transition-duration: 0.25s;
  }

  :global([data-theme="dark"]) .sunAndMoon :global(.sun-beams) {
    transition-duration: 0.15s;
    transform: rotateZ(-25deg);
  }

  :global([data-theme="dark"]) .sunAndMoon :global(.moon > circle) {
    transition-duration: 0.5s;
    transition-delay: 0.25s;
  }
}
