* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #F2F2F2;
  --bg-rgb: 242, 242, 242;
  --text-header-color: #F2F2F2;
  --text-color: #595959;
  --button-bg: #595959;
  --accent: #acd8aa;
  --red: #e5383b;
}

[data-theme="dark"] {
  --bg-color: #242423;
  --bg-rgb: 36, 36, 35;
  --text-header-color: #242423;
  --text-color: #F2F2F2;
  --button-bg: #F2F2F2;
  --accent: #acd8aa;
  --red: #e5383b;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  line-height: 1.6;

  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  overflow: hidden;
}

::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="40" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>') top right / 0 no-repeat;
  mask-origin: content-box;
  animation: scale 1s;
  transform-origin: top right;
}

::view-transition-old(root),
[data-theme="dark"] ::view-transition-old(root) {
  animation: scale 1s;
  transform-origin: top right;
  z-index: -1;
}

::view-transition-old(button),
::view-transition-new(button) {
  animation: fade 1s ease-in-out;
}

@keyframes scale {
  to {
    mask-size: 350vmax;
  }
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

